body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  background: linear-gradient( to right, #5e74ff, #91baff);

}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  color: #fff;
  margin-bottom: 20px;
  background-color: #007bff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 20%;
  border-radius: 50px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button,
pre {
  margin-top: 10px;
}

pre {
  white-space: pre-wrap;
  animation: fadeIn 0.5s ease-in-out;
}

.loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #007bff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-right: 8px;
}

.error {
  color: red;
  font-weight: bold;
  animation: fadeIn 0.5s ease-in-out;
}

@media (max-width: 600px) {

  /* Adjust styles for smaller screens */
  .container {
    padding: 10px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}